# Python dependencies of this collection
cryptography >= 36.0.0

# Ansible.cfg 
#jinja2_native

# Ansible version >= 2.0.9 (Example below)
# export ANSIBLE_COLLECTIONS_PATHS=/opt/homebrew/lib/python3.11/site-packages/ansible_collections:/Users/asharma/.ansible/collections:/usr/share/ansible/collections
# echo $ANSIBLE_COLLECTIONS_PATHS

# (fpb-venv) asharma@ASHARMA-M-4JFH B4-INFRA % echo $ANSIBLE_COLLECTIONS_PATHS                               
# /opt/homebrew/lib/python3.11/site-packages/ansible_collections:/Users/asharma/.ansible/collections:/usr/share/ansible/collections
# (fpb-venv) asharma@ASHARMA-M-4JFH B4-INFRA % ansible-galaxy collection list cisco.intersight -v                                                                                                                
# Using /Users/asharma/CISCO-AUTOMATION-PROJECTS/FLEXPOD/B4-INFRA/ansible.cfg as config file
# [DEPRECATION WARNING]: ANSIBLE_COLLECTIONS_PATHS option, does not fit var naming standard, use the singular form ANSIBLE_COLLECTIONS_PATH instead. This feature will be removed from ansible-core in version 2.19. Deprecation warnings can be disabled
#  by setting deprecation_warnings=False in ansible.cfg.

# # /opt/homebrew/lib/python3.11/site-packages/ansible_collections
# Collection       Version
# ---------------- -------
# cisco.intersight 2.0.9  
